<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>All Challenges</title>
    </head>
    <body>
        <h1>All Challenge</h1>
        {% comment %} url workks same as reverse in html files {% endcomment %}
        <ul>
            {% for month in months %}
            <li><a href="{% url "month-challenge" month=month %}">{{month|title}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>